:root {
    --bg_body: rgba(13, 17, 23); 
    /* --bg_body: #0d1117; */
    /* --bg_body: #294ba6; */
    /* --bg_sideBar: #5d8cd6; */
    --bg_sideBar: rgba(22, 27, 34); 
    /* --bg_sideBar: #161b22; */
    --border: #425cba;
    --letra_title: #fff;
    --letra_p: rgb(219, 219, 219);
    --input_buttonHover: #74c3f41a;
}


/* BLACK */

.conatiner-dark-mode{
    width: max-content;
    height: max-content;
    margin: 0;
}

.dark-mode-colocar{
    padding-right: 0.2rem;
}

.conatiner-dark-mode img{
    border: solid 1px rgb(143, 143, 143);
}

.conatiner-dark-mode img,
.conatiner-dark-mode#img-EN-Lenguaje img,
.conatiner-dark-mode#img-ES-Lenguaje img
{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 0;
}

.derecho-dark-mode-puesto{
    display: flex;
    align-items: center;
}

@media (max-width: 737px) {
    header#header.media-header{
        display: flex;
    }
}

div#wrapper.black-mode-wrapper{
    position:relative;
    z-index: -1;
}
div#wrapper.black-mode-wrapper{
    background-color: rgb(14, 18, 30);
    background-color: var(--bg_body);
}
div#sidebar.black-mode-sidebar{
    background-color: rgb(23, 27, 40);
    background-color: var(--bg_sideBar);
}



div#wrapper.black-mode-wrapper b,
div#wrapper.black-mode-wrapper h1,
div#wrapper.black-mode-wrapper h2,
div#wrapper.black-mode-wrapper h3,
div#wrapper.black-mode-wrapper h4,
div#wrapper.black-mode-wrapper h5,
div#wrapper.black-mode-wrapper strong
{
    color: var(--letra_title);
}

div#wrapper.black-mode-wrapper p,
div#wrapper.black-mode-wrapper a
{
    color: var(--letra_p);
}

div#wrapper.black-mode-wrapper header.major > :last-child,
div#wrapper.black-mode-wrapper #header,
div#wrapper.black-mode-wrapper #sidebar .toggle:before
{
    border-color: var(--border);
}

div.black-mode-sidebar a.toggle
{
    color: var(--border);
}


div#wrapper.black-mode-wrapper input[type="submit"],
div#wrapper.black-mode-wrapper input[type="reset"],
div#wrapper.black-mode-wrapper input[type="button"],
div#wrapper.black-mode-wrapper button,
div#wrapper.black-mode-wrapper .button
{
    box-shadow: inset 0 0 0 2px var(--border);
    color: var(--border) !important;
}

div#wrapper.black-mode-wrapper input[type="submit"]:hover,
div#wrapper.black-mode-wrapper input[type="reset"]:hover,
div#wrapper.black-mode-wrapper input[type="button"]:hover,
div#wrapper.black-mode-wrapper button:hover,
div#wrapper.black-mode-wrapper .button:hover
{
    /* background-color: #b879fb21; */
    background-color: var(--input_buttonHover);
}

div#wrapper.black-mode-wrapper div.skills .items .content-title
{
    background-color: var(--border);
    box-shadow: 0 1px 2px .5px #414141;

}

div#wrapper.black-mode-wrapper div.skills .items .contentido
{
    /* background-color: #2e2e2e; */
    /* background-color: rgba(23, 27, 40, 0.235); */
    background-color: var(--bg_sideBar);
    box-shadow: 0 1px 5px .5px #7a7a7a;

}

div#sidebar.black-mode-sidebar ul.contact li:before
{
    color: var(--border);
}

div#sidebar.black-mode-sidebar ul li a:hover
{
    color: var(--border);
}

div#wrapper.black-mode-wrapper #menu ul a:hover, #menu ul span:hover
{
    color: var(--border);
}

div#wrapper.black-mode-wrapper form .contactForm{
    border-color: var(--letra_title);
    color: var(--letra_title);
    background-color: var(--bg_sideBar);
}
div#wrapper.black-mode-wrapper form .contactForm:focus{
    box-shadow: inset 0 0 0 2px var(--border);
    border-color: var(--border);
}


/* Music */
.bocina_music_container_dark i{
    color: #425cba;
}
.bocina_music_container_dark i#mute{
    color: #9eb3ff;
}

/* BUTTON SWITCH CHANGE MODE */

.switch{
    background-color: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    border: none;
    
    box-shadow: none;
    padding: inherit;
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1rem;
    height: auto;
}
.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 3px 1px rgb(0,0,0,2);
}
.switch.active{
    box-shadow: none !important;
    background-color: #f44336e0;
    color: #000;
}
.switch.active::after{
    left: unset;
    right: 0;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

button.switch:hover{
    background-color: #343d5b;
}
button.switch.active:hover{
    background-color: #f44336e0 !important;
}