:root {
    --bg_body: #0d1117;
    /* --bg_body: #294ba6; */
    /* --bg_sideBar: #5d8cd6; */
    --bg_sideBar: #161b22;
    --border: #425cba;
    --letra_title: #fff;
    --letra_p: rgb(219, 219, 219);
    --input_buttonHover: #74c3f41a;
}


.conatiner-dark-mode{
    width: max-content;
    height: max-content;
    margin: 0;
}

.dark-mode-colocar{
    padding-right: 0.2rem;
}

.conatiner-dark-mode img{
    border: solid 1px rgb(143, 143, 143);
}

.conatiner-dark-mode img,
.conatiner-dark-mode#img-EN-Lenguaje img,
.conatiner-dark-mode#img-ES-Lenguaje img
{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 0;
}

.derecho-dark-mode-puesto{
    display: flex;
    align-items: center;
}

@media (max-width: 737px) {
    header#header.media-header{
        display: flex;
    }
}

/* div#wrapper.black-mode-wrapper{
    background-color: #121212;
}
div#sidebar.black-mode-sidebar{
    background-color: #1d1d1d;
} */

div#wrapper.black-mode-wrapper{
    background-color: rgb(14, 18, 30);
    background-color: var(--bg_body);
}
div#sidebar.black-mode-sidebar{
    background-color: rgb(23, 27, 40);
    background-color: var(--bg_sideBar);
}


/* 

3700B3 
bb7efd
*/
div#wrapper.black-mode-wrapper b,
div#wrapper.black-mode-wrapper h1,
div#wrapper.black-mode-wrapper h2,
div#wrapper.black-mode-wrapper h3,
div#wrapper.black-mode-wrapper h4,
div#wrapper.black-mode-wrapper h5,
div#wrapper.black-mode-wrapper strong
{
    color: var(--letra_title);
}

div#wrapper.black-mode-wrapper p,
div#wrapper.black-mode-wrapper a
{
    color: var(--letra_p);
}

div#wrapper.black-mode-wrapper header.major > :last-child,
div#wrapper.black-mode-wrapper #header,
div#wrapper.black-mode-wrapper #sidebar .toggle:before
{
    border-color: var(--border);
}

div.black-mode-sidebar a.toggle
{
    color: var(--border);
}


div#wrapper.black-mode-wrapper input[type="submit"],
div#wrapper.black-mode-wrapper input[type="reset"],
div#wrapper.black-mode-wrapper input[type="button"],
div#wrapper.black-mode-wrapper button,
div#wrapper.black-mode-wrapper .button
{
    box-shadow: inset 0 0 0 2px var(--border);
    color: var(--border) !important;
}

div#wrapper.black-mode-wrapper input[type="submit"]:hover,
div#wrapper.black-mode-wrapper input[type="reset"]:hover,
div#wrapper.black-mode-wrapper input[type="button"]:hover,
div#wrapper.black-mode-wrapper button:hover,
div#wrapper.black-mode-wrapper .button:hover
{
    /* background-color: #b879fb21; */
    background-color: var(--input_buttonHover);
}

div#wrapper.black-mode-wrapper div.skills .items .content-title
{
    background-color: #425cba;
    box-shadow: 0 1px 2px .5px #414141;

}

div#wrapper.black-mode-wrapper div.skills .items .contentido
{
    /* background-color: #2e2e2e; */
    /* background-color: rgba(23, 27, 40, 0.235); */
    background-color: var(--bg_sideBar);
    box-shadow: 0 1px 5px .5px #7a7a7a;

}

div#sidebar.black-mode-sidebar ul.contact li:before
{
    color: var(--border);
}

div#sidebar.black-mode-sidebar ul li a:hover
{
    color: var(--border);
}

div#wrapper.black-mode-wrapper #menu ul a:hover, #menu ul span:hover
{
    color: var(--border);
}

