input, textarea, button {
    padding: 10px !important;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button {
    color: #fff !important;
    font-weight: 700 !important;
    background-color: #0EA5E9 !important;
}

@media (min-width: 768px) {
    .contactGrid{
        display: grid;
        grid-template-columns: repeat(2, 40% 60%);
        gap: 10px;
        align-items: center;
    }
}